[Unit]
After = network.target
Description = Discord bot.

[Service]
Type = simple
RestartSec = 5
Restart = on-failure
TimeoutStartSec = infinity

User = user
Group = user
WorkingDirectory = /home/user/bot-rw
ExecStart = /home/user/bot-rw/bot-rw.py

[Install]
WantedBy = multi-user.target