general:
  prefixs:
    - "!"
    - "?"
  embed_color: 0x2F3136
  owner_ids:
    - 123456789123456789
  initial_extensions:
    - "jishaku"
    - "cogs.api"
    - "cogs.events"
    - "cogs.info"
    - "cogs.level"
    - "cogs.moderation"
    - "cogs.owner"
    - "cogs.utility"
  token: ""

log:
  error_channel_id: 

reactionrole:
  max_role: 15

level:
  amount: 10
  category_id: 