pip
arrow==1.2.2
psutil==5.9.0
socialscan==1.4.2
feedparser==6.0.2
tortoise-orm==0.17.7
git+https://github.com/Gelbpunkt/aiowiki@master
git+https://github.com/Gorialis/jishaku@master
git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus@master
