pyyaml==6.0
psutil==5.9.0
socialscan==1.4.2
tortoise-orm==0.19.2
git+https://github.com/Gorialis/jishaku@master
git+https://github.com/Gelbpunkt/aiowiki@master
git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus@master