[Unit]
After = network.target
Description = ymybot-rw service

[Service]
Type = simple
RestartSec = 5
Restart = on-failure
TimeoutStartSec = infinity

Environment=USERNAME=user
User = USERNAME
Group = USERNAME
WorkingDirectory = /home/USERNAME/ymybot-rw
ExecStart = /home/USERNAME/ymybot-rw/bot.py

[Install]
WantedBy = multi-user.target